.menuitem-back {
  margin-left: 15px;
  margin-top: 20px;
  font-size: 25px;
  cursor: pointer;

  .menuitem-contents {
    width: 190px;
    height: 48px;
    background-color: #E4E4E4;
    padding-left: 10px;
    padding-top: 10px;
  }
}
