.name-List{
    width : 250px;
    position: relative;
    text-align: center;
    font: normal normal normal 20px/40px Segoe UI;
    letter-spacing: 0px;
    color: #343742;
    opacity: 1;
    position: relative;
}
.email-List{
    width : 250px;
    position: relative;
    text-align: center;
    font: normal normal normal 20px/40px Segoe UI;
    letter-spacing: 0px;
    color: #343742;
    opacity: 1;
    position: relative;
    
}
.date-List{
    width : 350px;
    position: relative;
    text-align: center;
    font: normal normal normal 20px/40px Segoe UI;
    letter-spacing: 0px;
    color: #343742;
    opacity: 1;
    position: relative;
}
.tableOdd-List{
    width: 1149px;
    height: 59px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    text-align: center;
    font: normal normal normal 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #343742;
}
.tableEven-List{
    width: 1149px;
    height: 59px;
    background: #CECECE 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1; 
    text-align: center;
    font: normal normal normal 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #343742;
}
.button-List{
    width: 130px;
    height: 47px;
    background: #EF233C 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    offset: none;
}