.Background-Main{
    background-image: url('../../images/Main.jpg');   
    left : 0px;
    top: 0px;
    max-width: 200%;
    max-height: 200%;
    right : 0px;
    bottom : 0px;
    margin : auto;
    overflow : auto;
    position : absolute;
    background-repeat: no-repeat;
    background-size : cover;
    color : white
}
.BackgroundColor-Main{
    background-color : #443742;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.Login-Main{
    top: 31%;
    left: 60%;
    width: 135px;
    height: 73px;
    text-align: left;
    font: normal normal normal 55px/73px Segoe UI;
    letter-spacing: 0px;
    color: #FFEFEF;
    opacity: 1;
    position: absolute;
}

.javaproject-Main{
    top : 35%;
    left : 10%;
    width: 207px;
    height: 53px;
    text-align: left;
    font: normal normal normal 40px/53px Segoe UI;
    letter-spacing: 0px;
    color: #FFEFEF;
    opacity: 1;
    position: absolute;
}

.title-Main{
    top: 42.5%;
    left: 10%;
    width: 548px;
    height: 188px;
    text-align: left;
    font: normal normal normal 70px/94px Segoe UI;
    letter-spacing: 0px;
    color: #FFEFEF;
    opacity: 1;
    position: absolute;
}

.id-Main{
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #FFEFEF;
    top : 41%;
    left : 60%;
    width: 544px;
    height: 70px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color:  inherit;
    opacity: 1;
    color : white;
    position: absolute;
}

.password-Main{
    top : 50%;
    left : 60%;
    width: 544px;
    height: 70px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    background-color: inherit;
    position: absolute;
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #FFEFEF;
}

.LoginButton-Main{
    top: 60%; 
    left: 77%;
    width: 230px;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #343742;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #343742;
    position: absolute;
}
.signUp-Main{
    top : 1%; 
    left: 90%;
    width: 154px;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #343742;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #343742;
    position: absolute;
}
.Logo-Main{
    top : 1%;
    left : 1%;
    width: 122px;
    height: 67px;
    text-align: left;
    font: normal normal normal 50px/67px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}
.send-Main{
    top: 60%;
    left: 60%;
    width: 157px;
    height: 27px;
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #FFEFEF;
    opacity: 1;
    position: absolute;
}
.ForgotPassword-Main{
    top : 62.5%;
    left : 60%;
    width: 157px;
    height: 27px;
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #FFEFEF;
    opacity: 1;
    position: absolute;
}
/*2163 * 1283*/