input{
    outline:none;
}
.Background-Forgot{
    background-image: url('../../images/Forgot.jpg');   
    left : 0px;
    top: 0px;
    max-width: 200%;
    max-height: 200%;
    right : 0px;
    bottom : 0px;
    margin : auto;
    overflow : auto;
    position : absolute;
    background-repeat: no-repeat;
    background-size : cover;
}
.BackgroundColor-Forgot{
    background-color : #443742;
    width: 35%;
    height: 100%;
    opacity: 0.9;
}
.Logo-Forgot{
    top : 1%;
    left : 1%;
    width: 122px;
    height: 67px;
    text-align: left;
    font: normal normal normal 50px/67px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}
.title-Forgot{
    top : 20%;
    left : 2.5%;
    text-align: left;
    font: normal normal normal 55px/73px Segoe UI;
    letter-spacing: 0px;
    color: #FFEFEF;
    opacity: 1;
    position: absolute;
}
.input-Forgot{
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
 
   color: #FFEFEF;
    top : 34%;
    left : 2.5%;
    width: 423px;
    height: 70px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    background-color : inherit; 
    position: absolute;
    text-align: left;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #FFEFEF;
    opacity: 1;
    offset:none;
}
.send-Forgot{
    top : 34%;
    left : 27%;
    width: 111px;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #343742;
    border-radius: 10px;
    opacity: 1;
    position: absolute;
    letter-spacing: 0px;
    color: #343742;
    opacity: 1;
    text-align: center;
    font: normal normal normal 25px/33px Segoe UI;
}
.BackgroundColor-Forgot{
    background-color : #443742;
    width: 35%;
    height: 100%;
    opacity: 0.9;
}
.content-Forgot{
    top : 45%;
    left : 2.5%;
    height: 33px;
    width : 484px;
    text-align: left;
    font: normal normal bold 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    position : absolute;
    font-weight: 700;
    
}
.red-Forgot{
    color : red;
}
.submit-Forgot{
    top: 57.5%;
    left: 22.9%;
    width: 154px;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #343742;
    border-radius: 10px;
    opacity: 1;
    position : absolute;
    text-align: center;
    font: normal normal normal 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #343742;
    opacity: 1;
}